@{
    ViewData["Title"] = "Add new brand";
}

@using (Html.BeginForm("AddNewBrand", "Home", FormMethod.Post))
{
    <div>

        <p>
            @Html.Label("name", "Enter brand name")
            @Html.TextBox("name", "Chanel")
        </p>

        <p>
            @Html.Label("country", "Enter brand country")
            @Html.TextBox("country", "France")
        </p>

        <span class="col-md-offset-2 col-md-10">
            <button type="submit" value="Submit" name="Submit">Submit</button>
            <button type="submit" value="Cancel" name="Cancel">Cancel</button>
        </span>
    </div>
}